/* partial scss for navigation component style */
#app {
  .top-bar {
    background-color: $nav-background;

    ul {
      background-color: $nav-background;
    }

    .menu-text {
      color: $nav-text;
    }

    .menu {
      .active-link {
        font-weight: $nav-link-active;
      }
    }
  }
}
